form {
    display: flex;
    width: 700px;
    margin: 50px auto;
}

input {
    width: 670px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 8px;
    font-size: 18px;
    transition: border .2s;
}

input:hover,
input:focus {
    border: 1px solid #aaa;
}

button {
    width: 40px;
    height: 40px;
    background: url('../img/search.png') center center no-repeat #4285f4;
    background-size: 22px;
    outline: 0;
    border: 0;
}

.response {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 700px;
    margin: 0 auto;
}

.response img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}
